<div *ngIf="schedule" class="container">
  <h2>Editing {{schedule.name}}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="frequency">Frequency</label>
      <select [(ngModel)]="schedule.recurrence.frequency"
              id="frequency" name="frequency"
              class="form-control">
        <option *ngFor="let freq of frequencies" [value]="freq">{{freq}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="interval">Interval</label>
      <input [(ngModel)]="schedule.recurrence.interval"
            id="interval" name="interval"
            class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="count">Count</label>
        <input [(ngModel)]="schedule.recurrence.count"
              id="count" name="count"
              class="form-control" type="number">
    </div>
    <app-daypicker [selectedDays]="schedule.recurrence.schedule.weekDays" (changed)="dayschanged($event)"></app-daypicker>
    <div class="form-group">
      <section>
        <ul class="list-hours">
          <li *ngFor="let hour of schedule.recurrence.schedule.hours; let i = index">
            <input id="hours-{{i}}" name="hours-{{i}}" type="number"
                  [(ngModel)]="schedule.recurrence.schedule.hours[i]">
          </li>
        </ul>
        <ul class="list-minutes">
          <li *ngFor="let minute of schedule.recurrence.schedule.minutes; let i = index">
            <input id="minutes-{{i}}" name="minutes-{{i}}" type="number"
                  [(ngModel)]="schedule.recurrence.schedule.minutes[i]">
          </li>
        </ul>
      </section>
      <section>
        <input #hoursnew id="hours-new" name="hours-new" type="number">
        <input #minutesnew id="minutes-new" name="minutes-new" type="number">
        <button type="button" (click)="addTime(hoursnew.value, minutesnew.value)">Add Time</button>
      </section>
    </div>
    <ul dragula="RESOURCEGROUPS" [(dragulaModel)]="schedule.message.resourceGroupIds">
      <li *ngFor="let item of schedule.message.resourceGroupIds">
        {{item}}
      </li>
    </ul>
    <ul dragula="RESOURCEGROUPS" [(dragulaModel)]="resourceGroups">
      <li *ngFor="let item of resourceGroups">
        {{item | resourcename}}
      </li>
    </ul>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>